@reference "#styles.css";
:host {
  @apply w-full;
}

.select-option-base {
  @apply flex w-full cursor-pointer disabled:cursor-not-allowed disabled:opacity-50 transition-colors duration-200 ease-in-out
  not-last-of-type:border-b;
  color: inherit;
  border-color: currentColor;

  &:not(:disabled):hover {
    background-color: color-mix(in srgb, currentColor 10%, transparent);
  }
  &:not(:disabled):active {
    background-color: color-mix(in srgb, currentColor 15%, transparent);
  }
}

/* SELECT OPTION SIZES */
/* Small */
.select-option-size-small {
  @apply px-3 py-1.5 text-sm;
}
/* Medium */
.select-option-size-medium {
  @apply px-4 py-2 text-base;
}
/* Large */
.select-option-size-large {
  @apply px-6 py-3 text-lg;
}
