@reference "#styles.css";

.btn-base {
  @apply cursor-pointer disabled:cursor-not-allowed disabled:opacity-50 transition-colors duration-200 ease-in-out;
  background-color: var(--role-bg);
  color: var(--role-text);
  border-color: var(--role-border);

  &:not(.btn-outline):not(:disabled):hover {
    background-color: var(--role-bg-hover);
    border-color: color-mix(in srgb, var(--role-border), black 10%);
  }
  &:not(.btn-outline):not(:disabled):active {
    background-color: var(--role-bg-active);
    border-color: color-mix(in srgb, var(--role-border), black 20%);
  }
}

/* BUTTON STYLES */
.btn-primary,
.btn-secondary,
.btn-tertiary,
.btn-surface {
  @apply border;
}

/* BUTTON OUTLINE STYLES */
.btn-outline {
  @apply border-2 bg-transparent;
  background-color: transparent;
  color: var(--role-bg);
  border-color: var(--role-bg);

  &:not(:disabled):hover {
    background-color: var(--role-bg);
    color: var(--role-text);
  }
  &:not(:disabled):active {
    background-color: color-mix(in srgb, var(--role-border), black 10%);
    border-color: color-mix(in srgb, var(--role-border), black 10%);
  }
}

/* BUTTON SIZES */
.btn-size-small {
  @apply px-3 py-1.5 text-sm;
}
.btn-size-medium {
  @apply px-4 py-2 text-base;
}
.btn-size-large {
  @apply px-6 py-3 text-lg;
}
