* {
  box-sizing: border-box;
}

html,
body,
app-root {
  /* The app is made to occupy the full window */
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  /* Prevent overscroll propagation and pull-to-refresh */
  overscroll-behavior: contain;
}
